# Numerous always-ignore extensions
npm-debug.log

# Always-ignore dirs
bower_components
node_modules
node_modules

temp
tmp
vendor
staging
_gh_pages
_test

# OS or Editor folders
.komodotools
*.sublime-*

# misc
TODO.md
benchmark
coverage
test/actual
test/yfm
/*.log
reg.js


# npmignore
test